In [2]:
import pandas as pd
import numpy as np

http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Since the chained indexing is 2 calls, it is possible that either call may return a copy of the data because of the way it is sliced. Thus when setting, you are actually setting a copy, and not the original frame data. It is impossible for pandas to figure this out because their are 2 separate python operations that are not connected.

Evaluates dfmi['one'] first, which returns a dataframe and then evaluates ['second']

In [3]:
dfmi = pd.DataFrame([list('abcd'),
                     list('efgh'),
                     list('ijkl'),
                     list('mnop')],
                    columns=pd.MultiIndex.from_product([['one','two'],
                                                        ['first','second']]))
dfmi['one']['second'] = 12
dfmi

C:\Python34\lib\site-packages\IPython\kernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In [4]:
dfmi.ix[:,('one', 'second')] = 14
dfmi

    one          two
  first second first second
0     a     14     c      d
1     e     14     g      h
2     i     14     k      l
3     m     14     o      p

In [ ]:
# statment df4 = df doesn't create a copy of df, rather is a pointer to the same object

In [10]:
df = pd.DataFrame(np.arange(40).reshape(10, 4), columns=list('ABCD'))
df4 = df
df['A'] = 'B'
df4

   A   B   C   D
0  B   1   2   3
1  B   5   6   7
2  B   9  10  11
3  B  13  14  15
4  B  17  18  19
5  B  21  22  23
6  B  25  26  27
7  B  29  30  31
8  B  33  34  35
9  B  37  38  39

In [11]:
df4['D'] = '-1'
df

   A   B   C   D
0  B   1   2  -1
1  B   5   6  -1
2  B   9  10  -1
3  B  13  14  -1
4  B  17  18  -1
5  B  21  22  -1
6  B  25  26  -1
7  B  29  30  -1
8  B  33  34  -1
9  B  37  38  -1

In [9]:
df = pd.DataFrame(np.arange(40).reshape(10, 4), columns=list('ABCD'))
df2 = df[df['A']>10]
df2.ix[df2['B']==17, 'C'] = 1000
df2

C:\Python34\lib\site-packages\pandas\core\indexing.py:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Python34\lib\site-packages\IPython\kernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

    A   B     C   D
3  12  13    14  15
4  16  17  1000  19
5  20  21    22  23
6  24  25    26  27
7  28  29    30  31
8  32  33    34  35
9  36  37    38  39

# Can create a copy of df and avoid the error message

In [7]:
df3 = df[df['A']>10].copy()
df3.loc[df2['B']==17, 'C'] = 1000

In [8]:
df3

    A   B     C   D
3  12  13    14  15
4  16  17  1000  19
5  20  21    22  23
6  24  25    26  27
7  28  29    30  31
8  32  33    34  35
9  36  37    38  39